@page
@model MascotaFeliz.App.FrontEnd.Pages.Mascotas.DeleteModel
@{
  int MascotaId=Model.Mascota.Id;
}
<h3>Borrar</h3>

<h5>Esta SEGURO de querer BORRAR esta MASCOTA???</h5>
<h5>Datos Detallados de @Model.Mascota.Nombre: </h5>
<div>
    IDENTIFICACIÓN: @Model.Mascota.Id
</div>
<div>
    Nombre: @Model.Mascota.Nombre
</div>
<div>
    Color: @Model.Mascota.Color
</div>
<div>
    Raza: @Model.Mascota.Raza
</div>
<div>
    Genero: @Model.Mascota.Genero
</div>
<div>
    FechaNacimiento: @Model.Mascota.FechaNacimiento
</div>
@*
<div>
   Cliente Id: @Model.Mascota.Cliente.Id Nombre: @Model.Mascota.Cliente.Nombre @Model.Mascota.Cliente.Apellidos 
</div>
<div>
    Veterinario Id: @Model.Mascota.Veterinario.Id Nombre: @Model.Mascota.Veterinario.Nombre @Model.Mascota.Veterinario.Apellidos
</div>*@
 <form method="post">
     <input type="hidden" asp-for="Mascota.Id" />
     <input type="submit" value="Borrar" class="btn btn-danger" />
     <a asp-page="./List" class="btn btn-primary"> Volver a Lista de Mascotas</a>   
</form>
</div>
